:root {
  /* Fonts */
  ff-Red-Hat: 'Red Hat Display', sans-serif;
  /* Colors Primary */
  --paleBlue: hsl(225, 100%, 94%);
  --brightBlue: hsl(245, 75%, 52%);

  /* Colors Neutral */
  --veryPaleBlue: hsl(225, 100%, 98%);
  --desaturatedBlue: hsl(224, 23%, 55%);
  --darkBlue: hsl(223, 47%, 23%);
}

